@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

header .container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


section .container{
    text-align: center;
    padding: 30px 100px;
    display: block;
    justify-content: space-between;
    margin-top: 2cm;
}

section .container .container{

    width: 500px;
    height: 300px;
    display: block;
    justify-content: space-between;
}
section .container .button{
    
    margin-top: 20px;
}
#singup-container{
    text-align: left;
}
footer{
    
    text-align: center;
}